.container-login {
    width: 200px;
    height: 200px;
    position: absolute;
    /* top: 50%; */
    left: 30%;
    margin-top: 65px;
    margin-left: -12px;
}

.bin-submit {
    text-align: center;
}

.card {
    border: 1px solid #ccc;
    /* border-radius: 20px; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: 500px;
    height: 620px;
}
.card-header {
    background-color: #fff;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
}

.blahblah {    
    text-align: center;
    margin-top: 520px;
}
/*อย่าลืมเปลี่ยนชื่อclass*/